.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    background-color: white;
    width: 1280px;
    margin-bottom: 30px;
    color: black;
  }
  .header .img-logo{
    width: 200px;
    padding: 0 40px;
  }
  .header .img-logo img{
    width: 200px;
  }
  .header .action-items{
    display: flex;
    align-items: center;
    align-content: center;
  }
 
  .header form{
    display: flex;
    height: 40px;
    margin-left: 14px;
    border: solid 1px;
    border-color:hsl(0, 0%, 86%);
    border-radius: 4px;
  }
  .header .action-items img{
    width: 30px;
    Z-INDEX: 20;
    object-fit: contain;
    padding-left: 10px;
  }

  .header .action-items .country{
    border: none;
    margin: 0;
    padding-left: 6px;
  }
  .header .action-items .country:focus{
    outline: none;
  }
  .header .action-items .country:hover{
    outline: none;
  }
  
  .header .action-items h3{
    font-size: 16px;
  
  }
  .header .action-items select{
    height: 40px;
    color: black;
    padding: 0 20px;
    background-color: rgb(255, 255, 255);
    border-color: hsl(0, 0%, 86%);
    border-radius: 4px;
    margin: 20px;
  
  }