.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 94px;
    background-color: white;
    width: 1280px;
    margin-bottom: 30px;
    color: black;
  }
 .header .left-div {

  width: 30%;
  padding-inline: 45px;
    
 }
 .header h2{
  font-size: 40px;
  font-weight: 400;
 }
 .header .right-div{
   width: 30%;
   padding-inline: 45px;
   display: flex;
   justify-content: end;
  }
  
 